.play {
    background-image: url(../images/result/result_bg.png);
    background-repeat: repeat-x repeat-y;
    background-size: 230px;
}

.play_main_visual {
    background-image: url(../images/play/play_red_left.png), url(../images/play/play_red_right.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 360px, 360px;
    background-position: top 0 left 0, bottom 0 right 0;
    overflow: hidden;
    height: 100vh;
}

.animation {
    animation: shake 1.5s infinite;
}

@keyframes shake {

    0%,
    60%,
    100% {
        transform: translate(0, 0) rotate(0deg);
    }

    5% {
        transform: translate(-3px, 2px) rotate(-2deg);
    }

    10% {
        transform: translate(3px, -2px) rotate(2deg);
    }

    15% {
        transform: translate(-2px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(2px, 2px) rotate(1deg);
    }

    25% {
        transform: translate(-3px, 1px) rotate(-2deg);
    }

    30% {
        transform: translate(3px, -1px) rotate(2deg);
    }

    35% {
        transform: translate(0, 0) rotate(0deg);
    }

}

.play_main {
    text-align: center;
}

.play_main img {
    width: 350px;
}

.play_btn {
    display: block;
    width: 352px;
    border-radius: 100px;
    background: linear-gradient(45deg, #FF9774 0%, #FF4343 100%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    margin-top: 40px;
    text-decoration: none;
}

.btn_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 22px 30px;
}

.btn_txt_white {
    font-size: 34px;
    font-family: Zen Kaku Gothic New;
    font-weight: bold;
    color: #fff;
}

.btn_history {
    display: block;
    width: 148px;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
    margin-left: auto;
    margin-right: 50px;
    text-decoration: none;
}

.btn_history_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 16px 24px;
}

.btn_txt_red {
    font-size: 26px;
    font-family: Zen Kaku Gothic New;
    font-weight: 500;
    color: #FF0000;
}