.play_second {
    background-image: url(../images/result/result_bg.png);
    background-repeat: repeat-x repeat-y;
    background-size: 230px;

}

@keyframes fadeOutMainVisual {
    0% {
        opacity: 1;
        display: block;
    }

    99% {
        opacity: 0;
        display: block;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.play_second_wrap {
    background-color: rgba(0, 0, 0, 0.6);
}


.play_main_visual {
    position: relative;
    z-index: 1;
    background-image: url(../images/play/play_red_left.png), url(../images/play/play_red_right.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 360px, 360px;
    background-position: top 0 left 0, bottom 0 right 0;
    overflow: hidden;
    height: 100vh;
    animation: fadeOutMainVisual 1.0s ease-in-out 0.2s forwards;
}

.animation {
    animation: shake 1.5s infinite;
}

.play_deco_position {
    position: relative;
}

.play_deco_1,
.play_deco_2,
.play_deco_3,
.play_deco_4,
.play_deco_5,
.play_deco_6,
.play_deco_7,
.play_deco_8,
.play_deco_9 {
    position: absolute;
}

.play_deco_1 img,
.play_deco_2 img,
.play_deco_3 img,
.play_deco_4 img,
.play_deco_5 img,
.play_deco_6 img,
.play_deco_7 img,
.play_deco_8 img,
.play_deco_9 img {
    width: 190px;
}

.play_deco_1 {
    top: 30px;
    left: 360px;
    animation: fadeToTop 0.5s cubic-bezier(0.55, 0, 1, 0.45) 0s forwards;
}

.play_deco_2 {
    top: 130px;
    left: -20px;
    animation: fadeToTopLeft 0.5s cubic-bezier(0.55, 0, 1, 0.45) 0.05s forwards;
}

.play_deco_3 {
    top: 320px;
    left: 240px;
    animation: fadeToLeft 0.5s cubic-bezier(0.55, 0, 1, 0.45) 0.02s forwards;
}

.play_deco_4 {
    top: 570px;
    left: -30px;
    animation: fadeToBottomLeft 0.5s cubic-bezier(0.55, 0, 1, 0.45) 0.08s forwards;
}

.play_deco_5 {
    top: 620px;
    left: 280px;
    animation: fadeToBottom 0.5s cubic-bezier(0.55, 0, 1, 0.45) 0.04s forwards;
}

.play_deco_6 {
    top: 170px;
    right: 40px;
    animation: fadeToTop 0.5s cubic-bezier(0.55, 0, 1, 0.45) 0.06s forwards;
}

.play_deco_7 {
    top: 290px;
    right: 300px;
    animation: fadeToTopRight 0.5s cubic-bezier(0.55, 0, 1, 0.45) 0.03s forwards;
}

.play_deco_8 {
    top: 470px;
    right: 20px;
    animation: fadeToRight 0.5s cubic-bezier(0.55, 0, 1, 0.45) 0.01s forwards;
}

.play_deco_9 {
    top: 610px;
    right: 230px;
    animation: fadeToBottomRight 0.5s cubic-bezier(0.55, 0, 1, 0.45) 0.07s forwards;
}


@keyframes fadeToTop {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    100% {
        opacity: 0;
        transform: translateY(-150px) scale(0.5);
    }
}

/* 下へ消える */
@keyframes fadeToBottom {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    100% {
        opacity: 0;
        transform: translateY(150px) scale(0.5);
    }
}

/* 左へ消える */
@keyframes fadeToLeft {
    0% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }

    100% {
        opacity: 0;
        transform: translateX(-150px) scale(0.5);
    }
}

/* 右へ消える */
@keyframes fadeToRight {
    0% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }

    100% {
        opacity: 0;
        transform: translateX(150px) scale(0.5);
    }
}

/* 左上へ消える */
@keyframes fadeToTopLeft {
    0% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(-150px, -150px) scale(0.5);
    }
}

/* 右上へ消える */
@keyframes fadeToTopRight {
    0% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(150px, -150px) scale(0.5);
    }
}

/* 左下へ消える */
@keyframes fadeToBottomLeft {
    0% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(-150px, 150px) scale(0.5);
    }
}

/* 右下へ消える */
@keyframes fadeToBottomRight {
    0% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(150px, 150px) scale(0.5);
    }
}


.play_main {
    text-align: center;
    margin: 0 0 40px 0;

    /* 中央の画像やロゴも、背景と一緒にふわっと消去 */
    animation: fadeOutContainer 0.8s ease-in-out 0.1s forwards;
}

.play_main img {
    width: 350px;
}

.play_btn {
    display: block;
    width: 352px;
    border-radius: 100px;
    background: linear-gradient(45deg, #FF9774 0%, #FF4343 100%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    text-decoration: none;


    background: linear-gradient(45deg, #FF9774 0%, #FF4343 50%, #FF9774 100%);
    background-size: 200% auto;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    margin-top: auto;

    animation-name: fadeInUpBtn;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    opacity: 1;
    animation-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1), background-position 0.5s ease, box-shadow 0.3s ease;

    animation: fadeOutUpBtn 0.6s ease-in 0.1s forwards;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1), background-position 0.5s ease, box-shadow 0.3s ease;

}

@keyframes fadeOutUpBtn {
    0% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }

    100% {
        opacity: 0;
        transform: translateY(30px);
        visibility: hidden;
    }
}

.play_btn:hover {
    background-position: right center;
    box-shadow: 0 0 6px rgba(255, 67, 67, 0.4);
}

.btn_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 22px 30px;
}

.btn_txt_white {
    font-size: 34px;
    font-family: Zen Kaku Gothic New;
    font-weight: bold;
    color: #fff;
}

.btn_history {
    display: block;
    width: 148px;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
    margin-left: auto;
    margin-right: 50px;
    text-decoration: none;
    animation: fadeOutHistory 0.5s ease-in 0.1s forwards;
}

@keyframes fadeOutHistory {
    0% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
        visibility: hidden;
        /* ★要素は見えなくなり、クリックもできなくなりますが、スペース（高さ）は残ります */
    }
}

.btn_history_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 16px 24px;
}

.btn_txt_red {
    font-size: 26px;
    font-family: Zen Kaku Gothic New;
    font-weight: 500;
    color: #FF0000;
}