html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font: inherit;
font-size: 100%;
vertical-align: baseline;
}

html {
line-height: 1;
}

ol, ul {
list-style: none;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

caption, th, td {
text-align: left;
font-weight: normal;
vertical-align: middle;
}

q, blockquote {
quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
content: "";
content: none;
}

a img {
border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
display: block;
}

img {
vertical-align: bottom;
border: none;
}

button,
input,
select,
textarea {
vertical-align: middle;
}

input {
outline: 0;
}

button,
input {
*overflow: visible;
line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
padding: 0;
border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
cursor: pointer;
-webkit-appearance: button;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
cursor: pointer;
}

textarea {
overflow: auto;
vertical-align: top;
font-family: sans-serif;
}



.result_box {
    position: relative;
    min-height: 100vh;
    z-index: 2;
}

.result_flex {
    display: flex;
}

.result_txt {
    position: absolute;
    top: 305px;
    left: 160px;
    display: flex;
    gap: 30px;

}

.result_txt a {
    writing-mode: vertical-rl;
    text-decoration: none;
    font-size: 26px;
    color: #554B54;
    letter-spacing: 0.2em
}

.result_txt a:hover {
    color: #C57E7C;
}

#result-img {
    display: block;
}

.result_set {
    position: absolute;
    top: 120px;
    right: 360px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#lucky-wrapper {
     display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: calc(20px + 370px); 
    top: 300px;
}

#lucky-wrapper p {
    writing-mode: vertical-rl;
    font-size: 26px;
    color: #554B54;
    letter-spacing: 0.2em
}

.result_history,
.result_top {
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px; 
}

.btn_arrow {
    width: 22px;
    height: auto;
}

.js-result-img-wrapper {
    opacity: 0;
    transform: scale(0.8);
    animation: resultAppear 1s ease forwards;
}

@keyframes resultAppear {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    70% {
        transform: scale(1.05);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#lucky-wrapper {

    opacity: 0;

    transform: translateY(20px);

    animation: fadeUp 0.8s ease forwards;

    animation-delay: 1s;

}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}