.result_3 {
    background-image: url(../images/result/result_bg.png);
    background-repeat: repeat-x repeat-y;
    background-size: 230px;
}

.result_main_visual {
    position: relative;
    padding: 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

.num {
    font-size: 20px;
    color: #000;
    margin: 0 0 14px 0;
}

.name {
    font-size: 40px;
    font-family: Zen Kaku Gothic New;
    font-weight: 900;
    color: #000;
    border-bottom: 2px #000 dashed;
    padding: 0 0 10px 0;
    margin: 0 0 30px 0;
}

.type {
    font-size: 24px;
    font-family: Zen Kaku Gothic New;
    font-weight: 700;
    margin: -64px 0 10px 0;
}

.type_contents {
    max-width: 80px;
    text-align: center;
    font-size: 20px;
    font-family: Zen Kaku Gothic New;
    font-weight: 700;
    color: #fff;
    background-color: #00B1F1;
    border-radius: 4px;
    padding: 4px 10px;
    margin: 0 0 10px 0;
}

.result_txt {
    max-width: 300px;
    font-size: 16px;
    font-family: Zen Kaku Gothic New;
    font-weight: 400;
    line-height: 130%;
    margin: 0 0 40px 0;
}

.item {
    font-size: 24px;
    font-family: Zen Kaku Gothic New;
    font-weight: 700;
    margin: 0 0 8px 0;
}

.item_txt {
    font-size: 24px;
    font-family: Zen Kaku Gothic New;
    font-weight: 400;
}

.result_main {
    position: absolute;
    top: 190px;
    left: 510px;

}

.result_main img {
    width: 420px;
}

.btn_history {
    width: 148px;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    text-decoration: none;
}

.btn_history_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 16px 24px;
}

.btn_txt_red {
    font-size: 26px;
    font-family: Zen Kaku Gothic New;
    font-weight: 500;
    color: #FF0000;
}

.play_btn {
    margin-left: auto;
}

.play_btn,
.go_top_btn {
    width: 352px;
    border-radius: 100px;
    background: linear-gradient(45deg, #FF9774 0%, #FF4343 100%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.btn_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 22px 30px;
}

.btn_txt_white {
    font-size: 34px;
    font-family: Zen Kaku Gothic New;
    font-weight: bold;
    color: #fff;
}

.btn_side {
    display: flex;
    margin-top: auto;
}